*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/icon.png
/.idea/icon_dark.png
.DS_Store
/build
/captures
.externalNativeBuild
/projectFilesBackup
app/schemas

# Keystore file should stay private
keystore.properties