#Gradle
.gradle
build/

# Local only files
local.properties
captures/

# IntelliJ .idea folder
.idea/workspace.xml
.idea/libraries
.idea/shelf
.idea/caches
.idea/navEditor.xml
.idea/tasks.xml
.idea/modules.xml
gradle.xml
*.iml

# General
.DS_Store
.externalNativeBuild