<!--
  ~ Copyright 2021 Thibault Seisel
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fr.nihilus.music.core">

    <application>
        <!--
            Allow external applications to read generated icons for playlist
            from MediaItem.iconUri.
        -->
        <provider
            android:authorities="${applicationId}.provider"
            android:name=".provider.IconProvider"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />

        <!--
            Specify foregroundServiceType in the foreground service definition of androidx.work.
            More info: https://developer.android.com/topic/libraries/architecture/workmanager/advanced/long-running#foreground-service-type
        -->
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:node="merge"
            tools:ignore="Instantiatable" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

    </application>
</manifest>
