<?xml version="1.0" encoding="utf-8"?>
<manifest package="fr.nihilus.music"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-feature
        android:name="android.hardware.audio.output"
        android:required="true"/>

    <application
        android:name="fr.nihilus.music.MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="fr.nihilus.music.HomeActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.APP_MUSIC"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".ui.SearchResultActivity"/>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>

        <activity
            android:name="fr.nihilus.music.ui.albums.AlbumDetailActivity"
            android:parentActivityName="fr.nihilus.music.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar.Neutral">
        </activity>

        <activity
            android:name="fr.nihilus.music.settings.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName="fr.nihilus.music.HomeActivity">
        </activity>

        <service
            android:name="fr.nihilus.music.service.MusicService"
            android:enabled="true"
            android:exported="false"
            android:label="@string/playback_service_label">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService"/>
            </intent-filter>
        </service>

        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>