<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="fr.nihilus.mymusic"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".playback.MusicService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService"/>
            </intent-filter>
        </service>

        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/action_settings">
        </activity>

        <provider
            android:name=".provider.MediaUsageProvider"
            android:authorities="fr.nihilus.mymusic.provider"
            android:enabled="true"
            android:exported="false">
        </provider>

        <receiver android:name=".playback.MusicService$RemoteControlReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>